/* General Styles */
.pretty_output {
    font-family: monospace;
    font-size: 13px;
}
.pretty_output ul {
    margin: 0;
    padding-left: 40px;
}
.pretty_output li {
    list-style: none;
}

/* JSON Styles */
.pretty_json .key {
    font-weight: bold;
}
.pretty_json .string {
    color: #33aa33;
}
.pretty_json .number {
    color: #3333cc;
}
.pretty_json .boolean {
    color: #999999;
}
.pretty_json .null {
    color: #cc3333;
}

/* CSS Styles */
.pretty_css .selector {
    color: #cc3333;
}
.pretty_css .property {
    color: #3333cc;
}
.pretty_css .value {
    color: #33aa33;
}
.pretty_css .comment {
    color: #999999;
}

/* YAML Styles */
.pretty_yaml .comment {
    color: #999999;
}
.pretty_yaml .key {
    color: #cc3333;
}
.pretty_yaml .value {
    color: #33aa33;
}